.logo{
    display: flex;
    justify-content: space-around ;
}

.logo img{
    width: 18%;
    height: 18%;
    margin: auto;
}

.dashboard{
    display: flex;
    flex-direction: row;
}

aside.panel{
    flex: 0%;
    padding: 15px;
    background-color: #F1F2F7;
}

section.ladoi{
    flex: 50%;
    padding: 20px;

}

img.graficasjpg{
    width: 100%;
    height: 100%;
    margin: auto;
}

.ladod{
    flex: 50%;
    padding: 20px;
}

.subtitulo2{
    text-align: center;

}

img.barras{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.santiago{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
    margin: auto;
}

h2{
    margin: 0px;
    text-align: center;
}

h3{
margin: 0px;
text-align: center;
}

h3.panel2{
    margin: 0px;
    text-align: left;
    font-size: 14px;

}